/* Общий стиль контейнера */
.express-services {
  background-color: #264a37; /* Тёмно-зелёный фон */
  padding: 40px 20px;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

.express-services h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #e5e5e5;
}

/* Стили для контейнера с услугами */
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

/* Стили для каждого элемента услуги */
.service-item {
  max-width: 200px;
  text-align: center;
}

.phone-numbers p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #f5f5f5;
}

.service-description {
  margin-top: 10px;
  font-size: 14px;
  color: #c9c9c9;
}
