
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Зареєструватися</button>
    </form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function () {
    $("#country-select").change(function () {
        var country = $(this).val();
        $.ajax({
            url: "{% url 'get_cities' %}",
            data: {'country': country},
            dataType: 'json',
            success: function (data) {
                var citySelect = $("#city-select");
                citySelect.empty();
                citySelect.append('<option value="">Select city</option>');
                $.each(data, function (index, city) {
                    citySelect.append('<option value="' + city.id + '">' + city.name + '</option>');
                });
            }
        });
    });
});
</script>
