<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Виведе всі поля форми, включаючи паролі -->
    <button type="submit">Зареєструватися</button>
</form>


<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        const countryField = document.getElementById('id_country');
        const cityField = document.getElementById('id_city');

        countryField.addEventListener('change', function() {
            const country = countryField.value; // Використовуємо назву країни, а не ID

            fetch(`/get_cities_by_country/${country}/`)
                .then(response => response.json())
                .then(data => {
                    cityField.innerHTML = '';
                    cityField.appendChild(new Option("Виберіть місто", "")); // Додаємо пустий варіант

                    data.cities.forEach(function(city) {
                        const option = document.createElement('option');
                        option.value = city;  // Використовуємо назву міста як значення
                        option.text = city;
                        cityField.appendChild(option);
                    });
                })
                .catch(error => console.error('Помилка:', error));
        });
    });
</script>

